In [1]:
import sqlite3
import numpy as np

In [2]:
# create a connection to the SQLite DB
conn= sqlite3.connect('vector-db.db')
# create a cursor object to execute SQL commands
cursor = conn.cursor()

In [3]:
conn

In [4]:
cursor

In [5]:
# # Create a table
# cursor.execute(
# """
# CREATE TABLE IF NOT EXISTS employees(
#     id INTEGER PRIMARY KEY,
#     name TEXT NOT NULL,
#     age INTEGER,
#     department TEXT)
# """
# )

# # insert data into table
# cursor.execute(
# """
# INSERT INTO employees(name,age,department) VALUES('Ravi Dubey', 41,'Data Science')
# """
# )

## retrieve data
# cursor.execute("SELECT * FROM employees")
# rows= cursor.fetchall()
# rows

In [6]:
# Create a table for vector data
cursor.execute(
"""
CREATE TABLE IF NOT EXISTS vectors(
    id INTEGER PRIMARY KEY,
    vector BLOB NOT NULL)   
"""
)

In [7]:
#generate some sample vectors

vect1 = np.array([1.2,3.4,2.1,0.8])
vect2 = np.array([2.7,1.5,3.9,2.3])
vect3 = np.array([5.7,5.5,4.9,2.3])

In [8]:
vect1

array([1.2, 3.4, 2.1, 0.8])

In [9]:
vect1.tobytes()

b'333333\xf3?333333\x0b@\xcd\xcc\xcc\xcc\xcc\xcc\x00@\x9a\x99\x99\x99\x99\x99\xe9?'

In [10]:
sqlite3.Binary(vect1.tobytes())

In [11]:
# insert data into vector table
cursor.execute(
"INSERT INTO vectors(vector) VALUES(?)",(sqlite3.Binary(vect1.tobytes()),)  
)

In [12]:
# insert data into vector table
cursor.execute(
"INSERT INTO vectors(vector) VALUES(?)",(sqlite3.Binary(vect2.tobytes()),)  
)

In [13]:
# insert data into vector table
cursor.execute(
"INSERT INTO vectors(vector) VALUES(?)",(sqlite3.Binary(vect3.tobytes()),)  
)

In [14]:
# retrieve vector from vectors database
cursor.execute("SELECT vector FROM vectors")

In [15]:
# fetching all rows 
rows= cursor.fetchall()
rows

[(b'333333\xf3?333333\x0b@\xcd\xcc\xcc\xcc\xcc\xcc\x00@\x9a\x99\x99\x99\x99\x99\xe9?',),
 (b'\x9a\x99\x99\x99\x99\x99\x05@\x00\x00\x00\x00\x00\x00\xf8?333333\x0f@ffffff\x02@',),
 (b'333333\xf3?333333\x0b@\xcd\xcc\xcc\xcc\xcc\xcc\x00@\x9a\x99\x99\x99\x99\x99\xe9?',),
 (b'\x9a\x99\x99\x99\x99\x99\x05@\x00\x00\x00\x00\x00\x00\xf8?333333\x0f@ffffff\x02@',),
 (b'333333\xf3?333333\x0b@\xcd\xcc\xcc\xcc\xcc\xcc\x00@\x9a\x99\x99\x99\x99\x99\xe9?',),
 (b'\x9a\x99\x99\x99\x99\x99\x05@\x00\x00\x00\x00\x00\x00\xf8?333333\x0f@ffffff\x02@',),
 (b'\xcd\xcc\xcc\xcc\xcc\xcc\x16@\x00\x00\x00\x00\x00\x00\x16@\x9a\x99\x99\x99\x99\x99\x13@ffffff\x02@',)]

In [16]:
# converting rows value from vectors type to  float
vector = np.frombuffer(rows[0][0], dtype = np.float64)

In [17]:
# printing the values of vector
vector

array([1.2, 3.4, 2.1, 0.8])

In [18]:
# creating a for loop and storing all vectors value at once and displaying them
vectors = []
for row in rows:
    vector = np.frombuffer(row[0],dtype=np.float64)
    vectors.append(vector)
    
vectors

[array([1.2, 3.4, 2.1, 0.8]),
 array([2.7, 1.5, 3.9, 2.3]),
 array([1.2, 3.4, 2.1, 0.8]),
 array([2.7, 1.5, 3.9, 2.3]),
 array([1.2, 3.4, 2.1, 0.8]),
 array([2.7, 1.5, 3.9, 2.3]),
 array([5.7, 5.5, 4.9, 2.3])]

# Vector Similarity Search

In [19]:
# we need to check valuers in query_vect is closest to which vector
query_vect = np.array([5.7,5.5,4.9,2.3])

In [20]:
cursor.execute(
"""
SELECT vector FROM vectors ORDER BY abs(vector -?) ASC
""",(sqlite3.Binary(vect2.tobytes()),)
)

In [21]:
# fetching all rows 
res= cursor.fetchone()
res

(b'\x9a\x99\x99\x99\x99\x99\x05@\x00\x00\x00\x00\x00\x00\xf8?333333\x0f@ffffff\x02@',)

In [22]:
# converting rows value from vectors type to  float
vector = np.frombuffer(res[0], dtype = np.float64)
vector

array([2.7, 1.5, 3.9, 2.3])

In [23]:
# conn.commit()

In [24]:
# conn.close()